<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lv.shop.mapper.analysis.AnalysisMapper" >
	<select id="getAnalysis" resultType="map">
		select date_format(createtime,'%Y:%m:%d') createtime,count(1) count from t_product t group by date_format(createtime,'%Y:%m:%d')
	</select>
	
	<select id="getAnalysisByCondition" parameterType="string" resultType="map">
		select b.brandName brandName,count(1) count from t_product t left join t_brand b on t.brandId=b.brandId 
		where date_format(t.createtime,'%Y:%m:%d')= str_to_date(#{createtime},'%Y:%m:%d') group by b.brandName
	</select>
</mapper>