<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lv.shop.mapper.role.RoleMapper" >
	<select id="getRoleList" resultType="org.lv.shop.entity.role.Role" parameterType="org.lv.shop.util.Page">
		select roleId,roleName,roleContext from t_role limit #{strat},#{pagecount}
	</select>
	
	<select id="getRoleListCount" resultType="int" parameterType="org.lv.shop.util.Page">
		select count(*) from t_role
	</select>
	
	<insert id="insertRole" parameterType="org.lv.shop.entity.role.Role" >
		insert into t_role values(#{roleId},#{roleName},#{roleContext})
	</insert>
</mapper>